* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

.header {
  background-color: rgba(51,51,51,0.9);
  color: white;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 50px;
  padding: 10px;
  align-items: center;
}

.header-title {
  float: left;
  font-size: 25px;
  display: block;
}

.new-book-button {
  float: right;
}

button {
  background-color: transparent;
  color: white;
  padding: 5px;
  border-radius: 10px;
  border-color: white;
  border-width: 2px;
  font-size: 11px;
}

.book-container {
  top: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 1;
  padding: 2% 5%;
}


.overlay {
  margin: 10px;
}

.form-container {
  position: absolute;
  width: 80%;
  max-width: 1000px;
  height: 80%;
  top: 10%;
  left: 10%;
  right: 10%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(121, 10, 121);
  visibility: hidden;
  z-index: 1;
  display: block;
}

.new-book {
  width: 100%;
  position: fixed;
}

h1 {
  background-color: rgba(51,51,51,1.0);
  color: white;
  width: 80%;
  max-width: 1000px;
  height: 40px;
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form-title {
  float: left;
  font-size: 25px;
  background-color: rgba(51,51,51,0.9);
  color: white;
  font-weight: normal;
}

.button-container {
  float: right;
  flex-direction: row;
  display: flex;
  /*align-items: center;*/
}

.button-form {
  margin: 5px;
}

.input {
  margin: 1% 3%;
  width: 50%;
 
}

#title, #author, #pages, #year, #description {
  width: 50%;
}